/* CSS by Mikey Amella */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-7,48.3,205,-160,369,41,701,-270,618,447,576;8..144,0,100,100,0,468,79,750,-203,738,514,712;8..144,0,100,200,0,468,79,750,-203,738,514,712;8..144,0,100,300,0,468,79,750,-203,738,514,712;8..144,0,100,400,0,468,79,750,-203,738,514,712;8..144,0,100,500,0,468,79,750,-203,738,514,712;8..144,0,100,600,0,468,79,750,-203,738,514,712;8..144,0,100,700,0,468,79,750,-203,738,514,712;8..144,0,100,800,0,468,79,750,-203,738,514,712;8..144,0,100,900,0,468,79,750,-203,738,514,712;8..144,0,100,1000,0,468,79,750,-203,738,514,712&display=swap');

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}


#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus{
    position: static;
    width: auto;
    height: auto;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: linear-gradient(to bottom, var(--teal), var(--white));
}

#logo {
    grid-column: 1/2;
}

#logo img {
    width: 150px;
}

nav {
    font-family: Montserrat, arial, sans-serif;
    grid-column: 2/3;
    grid-row: 1;
    text-align: right;
}

nav a {
    text-decoration: none;
}

#menu-toggle label{
    background-color: var(--yellow);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

#menu-toggle ul{
    display: none;
}

h1{
    grid-column: 1;
    margin-top: 1.5em;
    margin-left: 20px;
    padding-bottom: .5em;
}

header p {
    font-family: Montserrat, arial, sans-serif;
    grid-column: 1/3;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 1em;
    
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    font-size: 2em;
    font-family: Molle, arial, sans-serif;
}

#intro{
    background: linear-gradient(to bottom, var(--white), var(--light-gray));
    width: 100%;
}

#intro h2 {
    font-family: Molle, arial, sans-serif;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: .5em;
}

#intro p {
    font-family: Montserrat, arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 1em;
} 

#intro img {
    width: 100%;
}

#plan {
    background-color: var(--yellow);
    text-align: center;
    width: 100%;
}

h3 {
    font-family: Molle, arial, sans-serif;
    font-size: 2em;
    text-align: left;
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;

}

#plan h4 {
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#plan div {
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
}

#plan section{
    max-width: 300px;
    min-height: 300px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    background-color: var(--teal);
    color: var(--black);
    border: 5px solid var(--white);
    border-radius: 20px;
}

#testimonials {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#testimonials h4 {
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    padding-top: .25em;
    padding-bottom: .25em;
}

#testimonials p {
    font-family: Montserrat, arial, sans-serif;
    font-size: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
}

#testimonials q {
    font-family: Montserrat, arial, sans-serif;
    font-size: 1em;
    font-style: italic;
    padding-top: .25em;
}

#testimonials section {
    padding-bottom: 1em;
}

#about {
    background-color: var(--blue);
    width: 100%;
}

#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding-bottom: 2em;
}

#about img {
    max-width: 7em;
    max-height: 5em;
}

#about section {
    text-align: center;
}

#contact {
    width: 100%;
}

#contact form {
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
}

#contact label {
    font-family: Montserrat, arial, sans-serif;
    display: block;
    margin-bottom: 8px;
    color: var(--black);
}

#contact input,
#contact select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid var(--purple);
}

#contact select {
    width: 100%;
}

#contact input[type="submit"] {
    width: 100%;
    background-color: var(--purple);
    color: #fff;
    cursor: pointer;
}


footer {
    padding: 1em;
    background-color: var(--light-gray);
    text-align: center;
}

footer p, footer a {
    display: block;
    margin-bottom: 10px;
}

@media (min-width: 321px) and (max-width: 720px){

    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #logo {
        grid-column: 1/2;
    }
    
    nav {
        grid-column: 2/3;
        grid-row: 2;
        text-align: right;
    }
    
    h1{
        grid-column: 2/5;
        margin-top: 0em;
        margin-left: 20px;
        padding-bottom: .5em;
        grid-row: 1;
    }
    
    header p {
        font-size: 1.5em;
        grid-column: 2/5;
        margin-top: 5em;
        margin-left: 20px;
        margin-right: 40px;
        padding-bottom: 1em; 
        grid-row: 1;       
    }

    #menu-toggle input{
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
    }

    nav {
        grid-row: 2;
        grid-column: 1/5;
        margin-left: 2em;
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: center;
        justify-content: center;
    }

    nav ul{   
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    nav a {
        background-color: var(--white);
        padding: 1em;
    }

    #menu-toggle label{
        display: none;
    }
    
    #menu-toggle ul{
        /* display: show; stopped here */
        /* testing binary change? */
    }

    .active a {
        background-color: var(--yellow);
        color: var(--black);
    }

    #intro h2 {
        font-family: Molle, arial, sans-serif;
        font-size: 2em;
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: .5em;
    }

    #intro {
        padding-bottom: 1em;
    }
    
    #intro p {
        font-family: Montserrat, arial, sans-serif;
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 1em;
    } 

    #img-grid {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;

        margin-left: 50px;
        margin-right: 50px;
    }
    
    #img-grid img {
        width: 100%;
    }

    #img-grid picture {
        grid-column: span 2;
    }

    #plan {
        background-color: var(--yellow);
        text-align: center;
        padding-bottom: 1em;
    }
    
    h3 {
        font-family: Molle, arial, sans-serif;
        font-size: 2em;
        text-align: left;
        padding-left: .5em;
        padding-top: .5em;
        padding-bottom: .5em;
    
    }
    
    #plan h4 {
        font-family: Montserrat, arial, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    #plan div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #testimonials div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #about div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: .25em;
        padding-bottom: 2em;
    }
    
}
@media (min-width: 721px) {
    header{
        display: grid;
        grid-template-columns: 1fr 2fr 3fr;
    }

    #logo {
        grid-column: 1/2;
    }
    
    h1{
        grid-column: 2/3;
        margin-top: 0em;
        margin-left: 20px;
        padding-bottom: .5em;
        grid-row: 1;
    }
    
    header p {
        font-size: 1.5em;
        grid-column: 2/3;
        margin-top: 5em;
        margin-left: 20px;
        margin-right: 40px;
        padding-bottom: 1em; 
        grid-row: 1;       
    }

    nav {
        position: relative;
        bottom: 5.75em;
        grid-column: 3/4;
        grid-row: 1;
        text-align: right;
    }

    nav ul{   
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    nav a {
        background-color: var(--white);
        padding: 1em;
    }

    .active a {
        background-color: var(--yellow);
        color: var(--black);
    }

    #intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #intro h2 {
        grid-column: 1/2;
    }

    #intro p {
        grid-column: 1/2;
    }

    #intro div {
        grid-column: 2/3;
    }
    
    #img-grid {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5em;

        margin: 2em;
    }
    
    #img-grid img {
        width: 100%;
    }

    #img-grid picture {
        grid-column: span 2;
    }

    #plan {
        padding-bottom: 2em;
    }


    #plan div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 5em;
    }

    #plan section {
        width: 200px;
    }

    #plan img {
        width: 70%;
        height: auto;
    }

    #testimonials div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #about div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #testimonials div {
        margin: 5em;
    }

    #contact form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
